* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
  overflow-y: scroll;
  min-height: 100vh;
}

.cabeza {
  background-color: white;
  border: 1px solid gainsboro;
  width: 100%;
  position: sticky;
  top: 0;
}
.cabeza .barrita {
  position: relative;
  padding: 1% 5% 1% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cabeza .barrita .contBarr {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cabeza .barrita .contBarr .Logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.cabeza .barrita .contBarr .Logo .Busqueda {
  width: 400px;
  height: 40px;
  border-radius: 50px;
  border: 1px solid gainsboro;
  font-size: 15px;
  padding-left: 5%;
}
.cabeza .barrita .contBarr .Logo .Busqueda:hover {
  border: 1.5px solid rgb(189, 189, 189);
}
.cabeza .barrita .contBarr .account {
  margin-left: 50%;
  margin-right: 5%;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: end;
  gap: 20px;
}
.cabeza .barrita .contBarr .account .Create {
  text-align: center;
  width: 150px;
  text-decoration: none;
  border: 1px solid blueviolet;
  padding: 15px 15px 15px 15px;
  border-radius: 50px;
}
.cabeza .barrita .contBarr .account .Create:hover {
  background-color: blueviolet;
  color: white;
  text-decoration: underline;
}
.cabeza .barrita .contBarr .account .logIn {
  text-align: center;
  width: 150px;
  text-decoration: none;
  padding: 15px 15px 15px 15px;
  border-radius: 40px;
}
.cabeza .barrita .contBarr .account .logIn:hover {
  background-color: rgb(246, 239, 250);
  text-decoration: underline;
}

.navBarr {
  width: 300px;
  min-height: 100vh;
}
.navBarr .info {
  line-height: 30px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
}
.navBarr .info p {
  padding-top: 20px;
  padding-bottom: 5px;
}
.navBarr .info .Botones {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
.navBarr .info .Botones .Create {
  width: 100%;
  text-decoration: none;
  border: 1px solid blueviolet;
  padding: 10px;
  border-radius: 50px;
}
.navBarr .info .Botones .Create:hover {
  background-color: blueviolet;
  color: white;
  text-decoration: underline;
}
.navBarr .info .Botones .logIn {
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 40px;
}
.navBarr .info .Botones .logIn:hover {
  background-color: rgb(252, 253, 255);
  text-decoration: underline;
}
.navBarr .tags {
  list-style: none;
  padding: 10px 5px 5px 10px;
  width: 100%;
}
.navBarr .tags .secciones {
  list-style: none;
  width: 95%;
}
.navBarr .tags .secciones .Botones {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  font-size: 18px;
  border: none;
  text-align: start;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navBarr .tags .secciones .Botones:hover {
  background-color: rgb(239, 231, 255);
  text-decoration: underline;
}
.navBarr h3 {
  padding: 5px;
}
.navBarr .tags2 {
  list-style: none;
  padding: 10px 10px 10px 10px;
  border-bottom: 50px;
  width: 100%;
}
.navBarr .tags2 .secciones {
  list-style: none;
  width: 95%;
}
.navBarr .tags2 .secciones .Botones {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  font-size: 18px;
  border: none;
  text-align: start;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navBarr .tags2 .secciones .Botones:hover {
  background-color: rgb(239, 231, 255);
  text-decoration: underline;
}
.navBarr .socialMedia {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navBarr .socialMedia .Redes {
  padding-top: 5px;
  padding-bottom: 10px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
.navBarr .socialMedia .Redes .links {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  font-size: 18px;
  border: none;
  text-align: start;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navBarr .socialMedia .Redes .links:hover {
  background-color: rgb(239, 231, 255);
  text-decoration: underline;
}
.navBarr .popTags {
  height: 430px;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.navBarr .popTags .Botones {
  cursor: pointer;
  background-color: rgb(245, 245, 245);
  font-size: 18px;
  border: none;
  text-align: start;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
.navBarr .popTags .Botones:hover {
  background-color: rgb(239, 231, 255);
  text-decoration: underline;
}
.navBarr .finalInfo {
  text-align: justify;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 15px;
}
.navBarr .finalInfo a {
  text-decoration: none;
}

.Pagina {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1%;
  display: flex;
  width: 90%;
  flex-direction: row;
  align-content: start;
  justify-content: start;
}

.Posts {
  padding-left: 2%;
  padding-right: 2%;
  width: 35%;
}
.Posts .first {
  width: 100%;
}
.Posts .first .top {
  font-size: larger;
}
.Posts .first .top a {
  border-radius: 5px;
  color: black;
  padding: 10px;
  text-decoration: none;
}
.Posts .first .top a:hover {
  background-color: white;
  color: blue;
}
.Posts .fstPost {
  margin-top: 3%;
  width: 100%;
  background-color: white;
  height: 430px;
  border-radius: 5px;
}
.Posts .fstPost .fstFoto {
  border-radius: 5px;
}
.Posts .fstPost .txtPost {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding: 10px 30px 10px 30px;
}
.Posts .fstPost .txtPost .fotoPerfil {
  border-radius: 50%;
  width: 15px;
  position: relative;
  left: 20px;
  top: 15px;
}
.Posts .fstPost .txtPost .Logo {
  position: absolute;
  border-radius: 10px;
  width: 30px;
}
.Posts .fstPost .txtPost .UserName {
  bottom: 20px;
  position: relative;
  left: 40px;
}
.Posts .fstPost .txtPost .UserName a {
  color: black;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}
.Posts .fstPost .txtPost .UserName p {
  font-size: 12px;
}
.Posts .fstPost .txtPost .UserName .date {
  font-size: 10px;
}
.Posts .fstPost .PostCont {
  padding-left: 40px;
  font-size: large;
}
.Posts .fstPost .PostCont a {
  color: black;
  text-decoration: none;
}
.Posts .fstPost .PostCont a:hover {
  color: blue;
}
.Posts .fstPost .PostCont .tagsPost {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.Posts .fstPost .PostCont .tagsPost .tagPost2 {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.Posts .fstPost .PostCont .tagsPost .tagPost2:hover {
  background-color: rgb(194, 255, 235);
  color: black;
}
.Posts .fstPost .PostCont .tagsPost .tagPost3 {
  border: none;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}
.Posts .fstPost .PostCont .tagsPost .tagPost3:hover {
  background-color: rgb(192, 255, 255);
  color: black;
}
.Posts .fstPost .bottomPst {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 10px;
}
.Posts .fstPost .bottomPst .btmbutton {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.Posts .fstPost .bottomPst .btmbutton .Botones {
  font-size: 13px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  gap: 5px;
}
.Posts .fstPost .bottomPst .btmbutton .Botones p {
  padding-left: 5px;
}
.Posts .fstPost .bottomPst .btmbutton .Botones .reaccion {
  border: 1px solid whites;
  background-color: rgb(245, 245, 245);
  border-radius: 50%;
}
.Posts .fstPost .bottomPst .btmbutton .Botones:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}
.Posts .fstPost .bottomPst .btmsave {
  width: 33%;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 15px;
}
.Posts .fstPost .bottomPst .btmsave .save {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: white;
}
.Posts .fstPost .bottomPst .btmsave .save:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
}/*# sourceMappingURL=main.css.map */