.contenedor1 {
    padding: 10px;
    width:350px; 
    height:350px; 
    font-size: 9px;
    text-align:start;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 5%;
    line-height: 2.5;  
}

.contenedor2 {
    padding: 10px;
    width:350px; 
    height:350px; 
    font-size: 9px;
    text-align:start;
    border: 1px solid rgb(192, 188, 188);
    border-radius: 5%;
    line-height: 2.5;  
}


