*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:lighter;
    font-style:normal;
}
body{
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
    min-height: 100vh;
}

.row{
    border:solid rgb(58,24, 124) 1px;
    display: flex;
    flex-direction: row;
}
@import "navBar";
@import "sidebar.scss";
@import "resources.scss";
@import "postSeccion";
@import "TrentBar";

.Pagina{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-content:start;
    justify-content: start;
}


@media screen and (min-width: 768px){
    .cabeza{
        width: 100%;
        .barrita{
            padding: 1% 5% 1% 5%;
            .contBarr{
                .Logo{
                    gap: 10px;
                    .Busqueda{
                        display: none;
                        width: 400px;
                        padding-left: 5%;
                    }
                }
                .account{
                    
                    margin-left: 1%;
                    margin-right: 5%;
                    gap: 20px;
                    .Create{
                        
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    .logIn{
                        display: none;
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    
                }
            }
        }
    }
    .Posts{
    
        padding-left:2%;
        padding-right:2%;
        width: 100%;
        gap: 10px;
        .first{
            width: 100%;
        }
        .fstPost{
            width: 100%;
            border-radius: 5px;
            .txtPost{
                padding: 10px 30px 5px 30px;
                .fotoPerfil{
                    width: 15px;
                    position: relative;
                    left: 20px;
                    top: 15px;
                }
                .Logo{
                    position: absolute;
                }
                .UserName{
                    bottom: 20px;
                    position: relative;
                    left: 40px;
                }
            }
            .PostCont{
                padding-left: 40px ;
                .tagsPost{
                    .tagPost2{
                        padding: 10px;
                    }
                    .tagPost3{
                        padding: 10px;
                    }
                }
            }
            .bottomPst{
                width: 100%;
                .btmbutton{
                    padding-left: 30px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        display: flex;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
        .scndPst{
            margin-top: 1%;
            width: 100%;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
            }
            .bottomPst2{
                width: 100%;
                font-size: 10px;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
    }
        .thrdPst{
            margin-top: 1%;
            width: 100%;
            height: 200px;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
                font-size: 15px;
                a{
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: blue;
                    }
                }
            }
            .bottomPst2{
                width: 100%;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                    .save{
                        padding: 10px;
                    }
                }
            }
        }
    }    
}
}


@media screen and (min-width: 992px){
    .cabeza{
        width: 100%;
        .barrita{
            padding: 1% 5% 1% 5%;
            .contBarr{
                .Logo{
                    gap: 10px;
                    .Busqueda{
                        display: flex;
                        width: 400px;
                        padding-left: 5%;
                    }
                }
                .account{
                
                    margin-left: 1%;
                    margin-right: 5%;
                    gap: 20px;
                    .Create{
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    .logIn{
                        display: block;
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    
                }
            }
        }
    }

    .navBarr{
        display: block;
    }

    .Posts{

        width: 100%;
        padding-left:2%;
        padding-right:2%;
        width: 100%;
        gap: 10px;
        .first{
            width: 100%;
        }
        .fstPost{
            height: 550px;
            width: 100%;
            border-radius: 5px;
            .txtPost{
                padding: 10px 30px 5px 30px;
                .fotoPerfil{
                    width: 15px;
                    position: relative;
                    left: 20px;
                    top: 15px;
                }
                .Logo{
                    position: absolute;
                }
                .UserName{
                    bottom: 20px;
                    position: relative;
                    left: 40px;
                }
            }
            .PostCont{
                padding-left: 40px ;
                .tagsPost{
                    .tagPost2{
                        padding: 10px;
                    }
                    .tagPost3{
                        padding: 10px;
                    }
                }
            }
            .bottomPst{
                width: 100%;
                .btmbutton{
                    padding-left: 30px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        display: flex;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
        .scndPst{
            margin-top: 1%;
            width: 100%;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
            }
            .bottomPst2{
                width: 100%;
                font-size: 10px;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
    }
        .thrdPst{
            margin-top: 1%;
            width: 100%;
            height: 200px;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
                font-size: 15px;
                a{
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: blue;
                    }
                }
            }
            .bottomPst2{
                width: 100%;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                    .save{
                        padding: 10px;
                    }
                }
            }
        }
    }    
}
    
}

@media screen and (min-width: 1440px){
    .cabeza{
        width: 100%;
        .barrita{
            padding: 1% 5% 1% 5%;
            .contBarr{
                .Logo{
                    gap: 10px;
                    .Busqueda{
                        display: flex;
                        width: 400px;
                        padding-left: 5%;
                    }
                }
                .account{
                
                    margin-left: 1%;
                    margin-right: 5%;
                    gap: 20px;
                    .Create{
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    .logIn{
                        display: block;
                        width: 150px;
                        padding: 15px 15px 15px 15px;
                    }
                    
                }
            }
        }
    }

    .navBarr{
        display: block;
    }

    .trentBar{
        display: block;
        .TopTrent{
            width: 90%;
        }
        .TopTrent2{
            width: 90%;}
    }

    .subContResourcesSD{
        width: 100%;
    }

    .Posts{

        width: 100%;
        padding-left:2%;
        padding-right:2%;
        width: 100%;
        gap: 10px;
        .first{
            width: 100%;
        }
        .fstPost{
            height: 550px;
            width: 100%;
            border-radius: 5px;
            .txtPost{
                padding: 10px 30px 5px 30px;
                .fotoPerfil{
                    width: 15px;
                    position: relative;
                    left: 20px;
                    top: 15px;
                }
                .Logo{
                    position: absolute;
                }
                .UserName{
                    bottom: 20px;
                    position: relative;
                    left: 40px;
                }
            }
            .PostCont{
                padding-left: 40px ;
                .tagsPost{
                    .tagPost2{
                        padding: 10px;
                    }
                    .tagPost3{
                        padding: 10px;
                    }
                }
            }
            .bottomPst{
                width: 100%;
                .btmbutton{
                    padding-left: 30px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        display: flex;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
        .scndPst{
            margin-top: 1%;
            width: 100%;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
            }
            .bottomPst2{
                width: 100%;
                font-size: 10px;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        padding: 10px;
                        gap: 5px;
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                }
            }
        }
    }
        .thrdPst{
            margin-top: 1%;
            width: 100%;
            height: 200px;
            .txtPost2{
                gap: 10px;
                padding: 20px 20px 1px 20px;
            .PostCont{
                padding-left: 55px ;
                font-size: 15px;
                a{
                    color: black;
                    text-decoration: none;
                    &:hover{
                        color: blue;
                    }
                }
            }
            .bottomPst2{
                width: 100%;
                .btmbutton{
                    padding-left: 55px;
                    gap: 5px;
                    .Botones{
                        p{
                            padding-left: 5px;
                        }
                    }
                }
                .btmsave{
                    width: 33%;
                    gap: 15px;
                    .save{
                        padding: 10px;
                    }
                }
            }
        }
    }    
}
    
}





