*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(245, 245, 245);
    overflow-y: scroll;
    min-height: 100vh;
}

.row{
    border:solid rgb(58,24, 124) 1px;
    display: flex;
    flex-direction: row;
}
@import "navBar";
@import "sidebar.scss";
@import "resources.scss";
@import "postSeccion";

.Pagina{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 1%;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-content:start;
    justify-content: start;
}
