.navBarr{
    display: none;
    h2{
        font-weight: 900;
    }
    h3{
        font-weight: 600;
    }
    width: 300px;
    min-height: 100vh;
    .info{
        line-height: 30px;
        border: 1px solid gainsboro;
        border-radius: 5px;
        background-color: white;
        padding: 30px;
        p{
            padding-top: 20px;
            padding-bottom: 5px;
        }
        .Botones{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            text-align: center;
            .Create{
                font-weight: 600;
                width: 100%;
                text-decoration: none;
                border: 1px solid blueviolet;
                padding: 10px;
                border-radius: 10px;
                &:hover{
                    background-color: blueviolet;
                    color: white;
                    text-decoration: underline;
                }
            }
            .logIn{
                width: 100%;
                text-decoration: none;
                padding: 10px;
                border-radius: 10px;
                &:hover{
                    background-color: rgb(252, 253, 255);
                    text-decoration: underline;
                }
            }
        }
    }
    .tags{
        list-style: none;
        padding: 10px 5px 5px 10px;
        width: 100%;
        .secciones{
            list-style: none;
            width: 95%;
            .Botones{
                cursor: pointer;
                background-color: rgb(245, 245, 245);
                font-size: 18px;
                border: none;
                text-align: start;
                width: 100%;
                text-decoration: none;
                padding: 10px;
                border-radius: 5px;
                &:hover{
                    background-color: rgb(239, 231, 255);
                    text-decoration: underline;
                }
            }
        }
    }
    h3{
        padding: 5px;
    }
    .tags2{
        list-style: none;
        padding: 10px 10px 10px 10px;
        border-bottom: 50px;
        width: 100%;
        .secciones{
            list-style: none;
            width: 95%;
            .Botones{
                cursor: pointer;
                background-color: rgb(245, 245, 245);
                font-size: 18px;
                border: none;
                text-align: start;
                width: 100%;
                text-decoration: none;
                padding: 10px;
                border-radius: 5px;
                &:hover{
                    background-color: rgb(239, 231, 255);
                    text-decoration: underline;
                }
            }
        }
    }
    .socialMedia{
        display: flex;
        align-items: center;
        flex-direction: column;
        .Redes{
            padding-top: 5px;
            padding-bottom: 10px;
            list-style: none;
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 90%;
            .links{
                cursor: pointer;
                background-color: rgb(245, 245, 245);
                font-size: 18px;
                border: none;
                text-align: start;
                width: 100%;
                text-decoration: none;
                padding: 10px;
                border-radius: 5px;
                &:hover{
                    background-color: rgb(239, 231, 255);
                    text-decoration: underline;
                }
            }
        }
    }
    .popTags{
        height: 430px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        .Botones{
            cursor: pointer;
            background-color: rgb(245, 245, 245);
            font-size: 18px;
            border: none;
            text-align: start;
            width: 100%;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            &:hover{
                background-color: rgb(239, 231, 255);
                text-decoration: underline;
            }
        }
    }
    .finalInfo{
        text-align: justify;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom:50px ;
        display: flex;
        flex-direction: column;
        gap: 25px;
        font-size: 15px;
        a{
            text-decoration: none;
        }
        #relevante{
            font-weight: 900;
        }
    }
}